<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Lazyload Comps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="#" [routerLink]="'/home'" routerLinkActive="active">
        Home
      </a>
      <a class="nav-link" href="#" [routerLink]="'/one'" routerLinkActive="active">
        One
      </a>
      <a class="nav-link" href="#" [routerLink]="'/two'" routerLinkActive="active">
        Two
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
